body {
	background-color: rgb(244, 238, 239);	
	font-family: Whitney, 'Helvetica Neue', Arial;
}

discordtxt{
	color: rgb(148,149,152);
	font-weight: bold;
}

parm{
	color: rgb(67,145,182);
	font-weight: bold;
}


h1 {
	color: rgb(24,14,15);
}

h2 {
	color: rgb(134,81,86);
}